@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    font-size: 18px;
    background-color: rgb(237, 246, 255);
    font-family: "Hanken Grotesk";
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.outer-container {
    background-color: white;
    width: 45vw;
    height: 50%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 10px 20px rgba(0,0, 255, 0.1);
}

.left-container {
    color: white;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    height: 100%;
    width: 50%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin: 0 10% 0 10%; */
}
.left-container>p:first-child{
    color: rgba(255, 255, 255, 0.75);
}



.score-circle {
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-circle p:first-child {
    font-size: 50px;
}

.lower-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.lower-content p:nth-child(1){
    font-size: 30px;
}

.lower-content>p:last-child{
    color: rgba(255, 255, 255, 0.75);
    margin: 0 15% 0 15%;
    text-align: center;
}


.right-container {
    height: 90%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.breakdown {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
    gap: 30px;
}

.capsule {
    background-color: aquamarine;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.capsule>div {
    display: flex;
    gap: 10px;
}
.capsule>p:last-child {
    color: rgba(0, 0, 0, 0.9);
}

.red {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsla(0, 100%, 67%);
}
.yellow {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsla(39, 100%, 56%);
}
.green {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsla(166, 100%, 37%);
}
.purple {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsla(234, 85%, 45%);
}

button {
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 50px;
    height: 15%;
}
button:hover {
    background-color: hsla(224, 30%, 27%,0.8);
    cursor: pointer;
}
button:active {
    background-color: hsl(224, 30%, 27%);
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .outer-container {
        width: 50vw;
    }
}


@media screen and (max-width: 1100px) {
    .outer-container {
        flex-direction: column;
        width: 40vw;
        height: 75%;
    }
    .left-container {
        width: 100%;
        height: 50%;
    }
    .right-container {
        height: 50%;
        width: 80%;
    }
    .breakdown {
        gap: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 800px){
    .outer-container {
        width: 60vw;
    }
}

@media screen and (max-width: 600px) {
    .outer-container {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }
    .left-container {
        border-radius: 0 0 30px 30px;
        height: 45%;
    }
    .attribution {
        display: none;
    }
}